#  ======================================================  #
#  ======     SETTINGS FOR MCHI vs LAMBDA TEST     ======  #
#  ======================================================  #
#  
#  Follows config parser format
#    https://docs.python.org/3/library/configparser.html
#
#  Lists should be written as if they were python
#    (so will crash if you forget "s for labels)
#



[GET_LIMITS]
Labels = [ [1000, 0.90, r"$\bf Fermionic$ $\bf DM$ $\bf EFT$ $\bf (D7)$"],
	   [1000, 0.82, r"Operator  $\frac{\bar\chi\chi {\rm V}^{\mu\nu}V_{\mu\nu}}{\Lambda^3}$,  $c_{\rm D7a}$ = 1"],
	   [1000, 0.74, r"Input:  $\it EPJC (2017) 77:765$"],
	   [1000, 0.66, r"$m_{\chi}=10$ GeV"],
	   [1000, 0.58, r"$pp \rightarrow \geq1j$ / VBF, $R^{\rm miss}$"],
	   [1000, 0.50, r"$L=3.2~{\rm fb}^{-1}$, $\sqrt{s} = 13$ TeV"] ]
Legend.position = (0.5, 0.16)
axis.xlim = [0,2000]
axis.tick_params = {"which":"both", "direction":"in", "color":"gray"}
xaxis.minor_locator = 100
xaxis.major_locator = 500
xaxis.ticks_position = "both"


[PARAMS]
ScanParams = ["Lambda"]
Lambda.scan.limits = [400, 900]
Lambda.scan.stepsize = 500
Lambda.label = EFT scale $\Lambda$
Lambda.units = GeV

[GENERAL]
StoreValuesForQuickAccess = True
LoadQuickAccessValues = True
SaveAndLoadToys = False
TestStatistic: chi2
TestStatistic.Distribution: asymptotic
LimitsMethod: CLs
ConfidenceLevel: 0.95


[STEERING]
PredictionMethod = ScaleByL6
BSM.load = ['DM10']
SM.theoretical.values  = SM2
SM.theoretical.cov     = 0
SM.experimental.values = SM2
SM.experimental.cov    = SM_cov
SM.experimental.ntoys  = 100
meas.values  = meas
meas.cov     = meas


[INPUTS]
Inputs = ['i0', 'i1', 'i2', 'i3']

i0.file.path = /Users/Ste/Downloads/Darren_cov/SM_expected_covariances.pickle
i0.file.type = pickle
i0.extract = ["SM_cov"]
i0.SM_cov.keys.values = 24
i0.SM_cov.keys.covariance = ["SM_stat_cov", "SM_syst_cov"]
i0.SM_cov.type = SM
i0.SM_cov.IncludesSM = True

i1.file.path = /Users/Ste/PostDoc/git-with-DP/SM-sandbox/HEP_datasets/HEPData-ins1609448-v2-yaml
i1.file.type = hepdata
i1.file.hepdata.keyfile = /Users/Ste/PostDoc/git-with-DP/SM-sandbox/proj1.4-study_HEPdata-beta/DM_paper_keys.dat
i1.extract = ["meas", "SM"]
i1.meas.keys.values = ["R_pT_miss_geq1j_meas", "R_pT_miss_VBF_meas", "R_m_jj_VBF_meas", "R_dphi_jj_VBF_meas"]
i1.meas.keys.covariance = ["stat_cov", "syst_cov_total"]
i1.meas.type = data
i1.meas.IncludesSM = True
i1.SM.keys.values = ["R_pT_miss_geq1j_exp", "R_pT_miss_VBF_exp", "R_m_jj_VBF_exp", "R_dphi_jj_VBF_exp"]
i1.SM.keys.covariance = ["stat_cov", "syst_cov_total"]
i1.SM.type = SM
i1.SM.IncludesSM = True

i2.file.path = /Users/Ste/PostDoc/DM_Rebecca_EFT/SteAttempt_v1/Rivet/analysis/Rivet_yoda/VBFDM_D7a_m6000_l1000000.yoda
i2.file.type = yoda
i2.extract = ["SM2"]
i2.SM2.keys.values = ["/ATLAS_2017_I1609448/d01-x01-y01", "/ATLAS_2017_I1609448/d02-x01-y01", "/ATLAS_2017_I1609448/d03-x01-y01", "/ATLAS_2017_I1609448/d04-x01-y01"]
i2.SM2.keys.covariance = "use-errors"
i2.SM2.type = SM
i2.SM2.IncludesSM = True

i3.file.path = /Users/Ste/PostDoc/DM_Rebecca_EFT/SteAttempt_v1/Rivet/analysis/Rivet_yoda/VBFDM_D7a_m10_l400.yoda
i3.file.type = yoda
i3.extract = ["DM10"]
i3.DM10.keys.values = ["/ATLAS_2017_I1609448/d01-x01-y01", "/ATLAS_2017_I1609448/d02-x01-y01", "/ATLAS_2017_I1609448/d03-x01-y01", "/ATLAS_2017_I1609448/d04-x01-y01"]
i3.DM10.keys.covariance = "use-errors"
i3.DM10.type = BSM
i3.DM10.Lambda = 400
i3.DM10.Mchi = 1010
i3.DM10.IncludesSM = True
