#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: Settings using deep and wide networks           #
#================================================================#

[SETTINGS]
run_tag: deep_and_wide_networks


A1: 300
A2: 0
B1: 300
B2: 50
C_float: 5
C_int: 32
D2: 4