#====================================================================#
#   Configuration file for train_0D_density_model                    #
#   Author: stmenary@cern.ch                                         #
#   Description: Settings with a progressively smaller learning rate #
#====================================================================#

[SETTINGS]
run_tag: evolving_lr_v2
learning_rate_evo_factor: 0.5
max_epochs: 1000