#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: run using final settings                        #
#================================================================#

[SETTINGS]
run_tag: final_FULL
remove_observables: pT_jj
load_whitening_funcs: .whitening_funcs_final_FULL

batch_size: 1000
max_epochs: 300
early_stopping_patience: 15
early_stopping_min_delta: 0
learning_rate_evo_patience: 3

A1                 = 0
A2                 = 50
B1                 = 0
B2                 = 50
C_float            = 2
C_int              = 50 50
D2                 = 3

num_gaussians_per_continuous_observable: 25
