#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: Settings using a bigger GMM                     #
#================================================================#

[SETTINGS]
run_tag: many_gauss
num_gaussians_per_continuous_observable: 50
C_float: 1