#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: run with many wide gaussians                    #
#================================================================#

[SETTINGS]
run_tag: many_wide_gauss
load_whitening_funcs: .whitening_funcs_nominal
num_gaussians_per_continuous_observable: 60
gauss_width_factor: 5.
