#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: run using nominal settings                      #
#================================================================#

[SETTINGS]
run_tag    : nominal
input_fname: ../../Data/SM_EWK_rivet_output.pickle