#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: Nominal settings for training the model, all    #
#     settings left as their default values except for run_tag   #
#================================================================#

[SETTINGS]
run_tag: nominal