#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: Settings using very wide networks               #
#================================================================#

[SETTINGS]
run_tag: very_wide_networks


A1: 500
A2: 0
B1: 500
B2: 0
C_float: 2
C_int: 32
D2: 5