#================================================================#
#   Configuration file for train_0D_density_model                #
#   Author: stmenary@cern.ch                                     #
#   Description: Settings using wide networks                    #
#================================================================#

[SETTINGS]
run_tag: wide_networks


A1: 100
A2: 0
B1: 100
B2: 50
C_float: 1
C_int: 32
D2: 4